:root {
  --bluish-color: #147CA6;
  --input-focus-bg: #fafcfc; 
  --input-focus-border: #E4EEF2; 
  --pure-white: #ffffff; 
  --shaded-white: #E4EEF2; 
  --almost-black: #262626; 
  --box-shadow-color: #939393; 
  --dark-green-color: #148BA6; 
  --light-green-color: #A7F2EB; 
  --bebas-font-family: "Bebas Neue", sans-serif; 
  --montserrat-font-family: "Montserrat", sans-serif; 
  --error-message-red: rgb(231, 49, 49); 
  --error-message-background: rgb(240, 203, 203); 
}


.login, .register{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(275px, 100%), 1fr));
  min-height: 100vh;
  overflow-x: hidden;
}



.select-class {
  min-width: 70%;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--almost-black);
  border: none; 
  outline: none;
}
/* Left side: image */
.logo-div {
  flex: 1; /* 50% width */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--pure-white); /* optional background color */
}

.logo-div img {
  width: 60%;
  height: 60%;
  object-fit: cover; /* cover entire div */
}

.admin-quiz-view {
  flex: 1;
  min-height: 100vh;        
  overflow-y: auto;    
  padding: 20px;
}

/* Right side: input form */
.input-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  background-color: var(--bluish-color); 
}



.btn {
    font-family: "Bebas Neue", sans-serif;
    color: var(--pure-white);
    background-color: var(--bluish-color);
    padding: 5% 10%;
    font-size: 2rem;
    border-radius: 5%;
    cursor: pointer;
    transition: all .5s ease;
}

.inverse {
    font-family: "Bebas Neue", sans-serif;
    color: var(--bluish-color); 
    background-color: var(--pure-white);
    padding: 5% 10%;
    font-size: 2rem;
    border-radius: 5%;
    cursor: pointer;
    transition: all .5s ease;
}




.btn:hover {
    color: var(--pure-white);
    background-color: var(--almost-black);
    border: 2px solid var(--pure-white);
}

.input-section {
    background-color: var(--shaded-white);
    padding: 5% 10%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px var(--box-shadow-color) inset;
    border: 3px solid var(--shaded-white);
}


/* ---------------Input Field Component ----------------------*/ 

.input-field{
  min-width: 70%;
  padding: 5% 5%;
  font-size: 1rem;
  margin-bottom: 1rem;
  border: none; 
  outline: none;
}

.input-field:focus {
    outline: 1px solid var(--almost-black);
    border: none; 
    background-color: var(--input-focus-bg);
}

.registration-success {
  padding: 5%;
  background-color: var(--light-green-color);
}

.correct-reg p {
    color: var(--dark-green-color);
}

.failed p {
  color: red;
}

/* registration page */

/* Full screen container */
.container {
  width: 100vw;
  min-height: 100vh;
}


/* Left + right side */
.register-as-teacher,
.register-as-student {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

/* Images */
.register-as-teacher img,
.register-as-student img {
  width: 50%;
  object-fit: cover;
}

/* Button spacing */
.register-as-teacher button,
.register-as-student button {
  margin-top: 5%;
}

.btn-wrapper {
  margin-top: 5%;
}

.teacher-div {
  background-color: var(--bluish-color);
}

.register-page{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  min-height: 100vh;
  overflow-y: auto;
}


/* admin register page particulars */

.registration-input-section {
  max-height: 70vh;
  overflow-y: scroll;
  background-color: var(--shaded-white);
  padding: 5% 10%;
  border-radius: 10px;
  box-shadow: 10px 10px 10px var(--box-shadow-color) inset;
  border: 3px solid var(--shaded-white);
}




.title-wrapper {
    justify-content: center;
    justify-items: center;
    padding: 20px;
    text-align: center;
    color: white;
}

.title-text {
    font-family: "Bebas Neue", sans-serif;
    font-size: 3rem;
    color: var(--shaded-white);
}

.bottom-register-text {
    margin-top: 10px;
}

.bottom-register-text {
    margin-top: 1.5rem;
    font-family: "Montserrat", sans-serif;
}

.login-or-register {
    color: var(--bluish-color);
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

/*------------------SIDE PANEL BUTTONS COMPONENTS ---------------*/ 

.panel {
  background-color: var(--bluish-color);
  flex-basis: 30%;
}

.side-panel-button:nth-child(0) {
  border-top: 2px solid var(--pure-white);
}

.side-panel-button {
  border-bottom: 2px solid var(--pure-white);
  padding: 20px 40px;
  cursor: pointer;
  transition: all .5s ease;
  color: var(--pure-white);
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

.side-panel-button:hover {
  background-color: var(--pure-white);
  color: var(--bluish-color);
  font-weight: bold;
}

.side-panel hr {
  margin-top: 2rem;
  height: 2px;
  background-color: var(--pure-white);
}



/* Admin Dasboard */

.admin-dashboard{ 
  display: flex; 
  background-color: var(--bluish-color);
  min-height: 100vh;
}

.admin-dashboard-content{
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(min(500px, 100%), 1fr));
  background-color: var(--pure-white);
}


.admin-panel {
  background-color: var(--bluish-color);
  flex-basis: 30%;
}

.admin-dash-card {
  background-color: var(--shaded-white);
  padding: 5%;
  border-radius: 10px;
  box-shadow: 10px 10px 10px var(--box-shadow-color) inset;
  max-height: 70vh;
  overflow-y: scroll;

}

.admin-cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  gap: 20px;
  margin-inline: auto;
  padding: 20px;
  min-width: 300px;
  overflow-y: scroll;
}

.quiz-generator{
  margin-block: 2%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
}


.btn-wrapper-dash{
  align-items: center;
  justify-content: center;
  display: flex;
}
.image-btn{
  padding: 0;
  align-items: center;
}

.btn-wrapper-dash img{
  max-width: 15%;
  cursor: pointer;
}

.btn-dash{
  padding: 5%;
  font: 1.5em;
  border-radius: 5px;
}
.with-img{
  gap: 5%;
  color: var(--bluish-color);
  font-family: var(--bebas-font-family);
  font-size: 2em;
}

.with-img img:hover {
  background-color: var(--bluish-color);
}

.with-img img {
  border: var(--bluish-color) 4px solid;
  padding: 1%;
  border-radius: 50%;
  transform: all .5s ease;
}

.dash-list-view, .card-scroll-view {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.dash-quiz-view{
  padding: 5%;
  min-height: 30%;
  background-color: var(--pure-white);
  margin-bottom: 4%;
  border-radius: 10px;
  text-align: start;
}

.a-tag {
  text-decoration: none;
  color: inherit;
  display: block;
}

.dash-list-view p {
  margin: 0;
}

.out-of-tag {
  font-weight: bold;
  color: var(--almost-black);
  font-size: 1.2rem;
}

.score-description {
  place-content: center;
  padding: 2%;

}

/* student dashboard view */
.dashboard {
    display: flex; 
    background-color: var(--bluish-color);
    min-height: 100vh;
    overflow-y: scroll;
}

.dashboard-content {
  background-color: var(--pure-white);
  flex-basis: 70%;
  min-height: 100vh; 
}

.card {
  background-color: var(--shaded-white);
  margin: 5px;
  padding: 5%;
  min-width: 300px;
  max-height: 300px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px var(--box-shadow-color);
}

.card-content {
  display: grid;
  grid-template-columns: 1fr 1fr; 
}

.score-tab {
  background-color: var(--pure-white);
  padding: 5%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px var(--box-shadow-color) inset;
}

.score-heading {
  color: var(--bluish-color);
  font-family: var(--bebas-font-family);
}

.unit-card-link{
  text-decoration: none;
}

.score-paragraph {
  font-family: var(--bebas-font-family);
  font-size: 1.2em;
}

.score-paragraph span{
  color: var(--bluish-color);
  font-size: 1.5em;
}

.score-description-title {
  text-align: center;
  font-size: 2rem;
  font-family: "Bebas Neue", sans-serif;
  color: var(--bluish-color);
}

.progress-bar {
  position: relative;        /* allow absolute children */
  margin-top: 1rem;
  background-color: var(--light-green-color);
  width: 100%;
  height: 40px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 5px var(--box-shadow-color) inset;
}

.progress-fill {
  background-color: var(--bluish-color);
  height: 100%;
  border-radius: 10px 0 0 10px;
  position: relative;
  z-index: 1;                /* fill below text */
}

.progress-details {
  position: absolute;        /* position freely */
  top: 50%;
  right: 10px;               /* push to right */
  transform: translateY(-50%);
  z-index: 2;                /* above fill */
  color: var(--almost-black);
  font-size: 2rem;
  pointer-events: none;
}

.progress-details p {
  margin: 0;                 /* remove unwanted shift */
}

.image-btn {
  text-decoration: none;
  cursor: pointer;
}

.blue {
  color: var(--bluish-color);
  font-family: var(--bebas-font-family);
}

.card-heading {
  font-size: 2.5rem;
}

.card-scroll-view {
  display: flex;
}

.scroll-view-list-tile {
  min-height: 100px;
  width: 100%;
  background-color: var(--pure-white);
  border-radius: 15px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-right: 10px;
}

.list-tile-tile{
  color: var(--bluish-color);
  font-family: var(--montserrat-font-family); 
  font-weight: bold;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 1em;
}

.list-tile-contents{
  padding-left: 15px;
  padding-top: 10px;
  font-family: var(--montserrat-font-family);
  color: var(--bluish-color);
  font-size: 1.2em;
  text-align: left;
}

.scroll-view{
  height: 80%;
  overflow: auto;
}

.scroll-view::-webkit-scrollbar, .admin-scroll-view::-webkit-scrollbar, .registration-input-section::-webkit-scrollbar, .admin-dash-card::-webkit-scrollbar{
  width: 1em;
  padding-left: 5px;
}

.scroll-view::-webkit-scrollbar-track, .admin-scroll-view::-webkit-scrollbar-track, .registration-input-section::-webkit-scrollbar-track, .admin-dash-card:-webkit-scrollbar-track {
    background: var(--light-green-color);
    border-radius: 10px;
}

.scroll-view::-webkit-scrollbar-thumb, .admin-scroll-view::-webkit-scrollbar-thumb, .registration-input-section::-webkit-scrollbar-thumb, .admin-dash-card::-webkit-scrollbar-thumb{
    background: var(--bluish-color);
    border-radius: 10px;
}

.quiz {
  display: flex;
  height: 100vh;        /* <– Make quiz fill screen */
  overflow: hidden;
}

.quiz-panel {
  background-color: var(--bluish-color);
  overflow: auto;
  width: 25vw;
}
.quiz-side-panel-underline{
  height: 3px;
  background-color: var(--pure-white);
}

.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--shaded-white);
  padding: 40px;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  width: 50vw;
}

.modal form {
  margin-block: 20px;
}

.modal form select {
  padding: 5%;
  font-size: 1.2em;
  margin-bottom: 1rem;
  width: 100%;
}

.error-message-box{
  background-color: var(--error-message-background);
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px var(--box-shadow-color) inset;
}

.error-message-box h2 {
  color: var(--error-message-red);
  font-family: var(--montserrat-font-family);
  font-size: 1.5rem;
  padding: 10px;
}

.success-message-box{
  background-color: var(--light-green-color);
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px var(--box-shadow-color) inset;
}

.side-panel-a-btn{
  text-decoration: none;
  color: var(--pure-white);
}

.unit-name {
  color: var(--bluish-color);
  font-family: var(--bebas-font-family);
  font-size: 3rem;
  margin: 1em;
}

.active-side-panel {
  background-color: var(--pure-white);
  color: var(--bluish-color);
}

.active-side-panel a{
  color: var(--bluish-color);
  font-weight: bold;
}

.side-panel-a-btn:hover {
  color: var(--bluish-color);
}

.admin-quiz-view-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 2rem;
    align-items: center;
}

.admin-quiz-view-card {
  display: flex;
  flex-direction: column;
}
.admin-quiz-scroll-view{
  overflow-y: auto;
  height: 90%;
}

.admin-quiz-view-card {
  width: 100%;
  background-color: var(--shaded-white);
  padding: 20px 50px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px var(--box-shadow-color) inset;
}


.success-message-box h2 {
  color: var(--dark-green-color);
  font-family: var(--montserrat-font-family);
  font-size: 1.5rem;
  padding: 10px;
}

.modal form select option {
  padding: 10px;
  font-size: 1em;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--almost-black);
  opacity: 0.7;
  z-index: 1000;
}

.quizzes-content{
  display: flex;
  padding: 20px;
  width: 70vw;
}

.question-and-answer{
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* loading bar */
.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.spinner {
    border: 4px solid rgba(0,0,0,0.1);
    border-top: 4px solid #333;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



.question-card{
  min-height: 150px;
  max-height: 250px;
  overflow: auto;
  width: 100%;
  background-color: var(--bluish-color);
  border-radius: 10px;
  color: var(--shaded-white);
  padding: 1em;
  font-size: 2rem;
  font-family: var(--montserrat-font-family);
  font-weight: bold;
  text-align: start;
}

.question-title{
  font-family: var(--bebas-font-family);
  text-align: center;
}


.answer-card{
  background-color: var(--shaded-white);
  min-height: 200px;
  max-height: 300px;
  overflow: auto;
  border-radius: 10px;
  margin: 1em;
  color: var(--bluish-color);
  padding: 20px;
  box-shadow: 10px 10px 10px var(--box-shadow-color) inset;
}

.answer-title{
  font-size: 2.5em;
  font-family: var(--bebas-font-family);
}

.multiple-choice-answers{
  text-align: start;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
}

.answer-check-box{
  margin-inline: 5px;
}

.check-container {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  cursor: pointer;
  gap: 10px;
  user-select: none;
  margin-bottom: 10px;
}

/* Hide default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Custom box */
.checkmark {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: 2px solid var(--bluish-color);
  background-color: var(--pure-white);
  display: inline-block;
  transition: 0.2s;
  position: relative;
}

/* Checkmark (tick) */
.checkmark::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  opacity: 0;
  padding: 2.5px;
}

/* Checked state */
.check-container input:checked ~ .checkmark {
  background-color: var(--bluish-color);
  border-color: var(--bluish-color);
}

.check-container input:checked ~ .checkmark::after {
  opacity: 1;
}

.admin-scroll-view{
  overflow: auto;
  height: 90%;
}

.quiz-progress{
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-progress img {
  height: 70px;
  width: 70px;
  margin-inline: 10px;
}

.essay-answer {
  min-height: 100px;
  border: 2px solid var(--bluish-color);
  outline: none;
  padding: 10px;
  font-family: var(--montserrat-font-family);
  color: var(--almost-black);
  font-size: 0.8em;
  border-radius: 10px;
}

.correct{
  background-color: var(--bluish-color);
  color: var(--pure-white);
}

@media (max-width: 600px) {
  .panel, .admin-panel {
    display: none;
  }
  .dashboard-content {
    flex: 1;
    overflow-y: scroll;
  }
}